*, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #555;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

#title {
  display: block;
}

#leaderboard {
  display: none;
}

#quiz {
  display: none;
}

#timer {
  display: block;
  position: absolute;
  font-size: 1.25rem;
  font-weight: 700;
  top: 10px;
  color: white;
}

#score {
  display: none;
}

#score h2 {
  text-align: center;
  border: none;
  margin-bottom: 0;
}

#score h1 {
  padding: 10px 0 50px 0;
}

.card {
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  border: 2px solid #333;
  border-radius: 1rem;
  box-shadow: 10px 5px 5px #333333AA;
  background-color: #eee;
}

.card h1 {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  flex: 1 0 100%;
  text-align: center;
  padding: 50px 0;
}

.card h2 {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  flex: 1 0 90%;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 28px;
  margin: 0 28px;
  border-bottom: 1px solid #333;
}

.card div {
  width: 80%;
  margin: 0 auto;
}

.card div ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  align-items: center;
}

.card div ul li {
  width: 200px;
  margin-bottom: 8px;
  padding-top: 8px;
}

.card div ul li:nth-of-type(1) {
  border-top: none;
}

.card form {
  flex: 0 0 80%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.card form label {
  flex: 0 0 100%;
}

.card form input {
  flex: 0 0 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #eee;
  border: 1px solid #33333355;
  border-radius: .5rem;
  margin: 20px;
}

.card button {
  width: 100%;
  margin-top: 4px;
  padding: 10px;
  color: #fff;
  background-color: #333;
  border: 2px solid #333;
  border-radius: .5rem;
  transition: 250ms ease-in-out;
}

.card button:hover {
  color: #333;
  background-color: #eee;
  font-weight: 600;
  cursor: pointer;
}

.card button:nth-of-type(1) {
  margin-top: 28px;
}

#score button:nth-of-type(1) {
  margin-top: 20px;
}

@media screen and (max-width:900px) {
  .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #timer {
    color: #333;
  }
}